    <table border=0 cellspacing=2 width=100%>
     <tr><td colspan=5><hr></td></tr>
     <tr>
      <th style="width:30">Å@</th>
      <th class="DetailTitle" style="width:150">Group Name</th>
      <th class="DetailTitle" style="width:200">Subscription</th>
      <th class="DetailTitle" style="width:30">Cap Color</th>
      <th class="DetailTitle" style="width:30">Caps</th>
     </tr>
[% FOREACH group IN groups -%]
     <tr>
[%   IF issysad -%]
      <td><input type=checkbox name=CAP_GROUPS value=[% group.id %]></td>
      <td>
       <a href="javascript:SetOption('SELECT_CAPGROUP','[% group.id %]');DoSubmit('sys.capg','DISP','EDIT')">[% group.name %]</a>
      </td>
[%   ELSE -%]
      <td><input type=checkbox></td>
      <td>[% group.name %]</td>
[%   END -%]
      <td>[% group.expl %]</td>
      <td>[% group.color %]</td>
      <td>[% group.num %]</td>
     </tr>
[% END # FOREACH -%]
     <tr><td colspan=5><hr></td></tr>
[% IF issysad -%]
     <tr>
      <td colspan=5 align=left>
       <input type=hidden name="SELECT_CAPGROUP" value="">
       <input type=button value="Å@çÌèúÅ@" onclick="DoSubmit('sys.capg','DISP','DELETE')" class="delete">
      </td>
     </tr>
[% END -%]
    </table>
    <input type=hidden name="DISPST" value="">
