    <table border="0" cellspacing="0" cellpadding="0" width="100%" align="center">
     <tr>
      <td>
      
      <div class="oExcuted">
       [% pname %]‚ð³í‚ÉŠ®—¹‚µ‚Ü‚µ‚½B
      </div>
      
[% IF log.size -%]
      <div class="LogExport">ˆ—ƒƒO</div>
      <hr>
      <blockquote class="LogExport">
[%   FOREACH text IN log -%]
       [% text %]<br>
[%   END # FOREACH -%]
      </blockquote>
      <hr>
[% END -%]
      </td>
     </tr>
    </table>
