    <table border=0 cellspacing=2 width=100%>
     <tr>
      <td colspan=3>以下の掲示板のカテゴリを変更します。<br><br></td>
     </tr>
     <tr>
      <th class="DetailTitle" style="width:150">BBS Name</th>
      <th class="DetailTitle" style="width:100">Category</th>
      <th class="DetailTitle" style="width:250">SubScription</th>
     </tr>
[% FOREACH board IN boards -%]
     <tr>
      <td>[% board.name %]</td>
      <td>[% board.category %]</td>
      <td>[% board.subject %]</td>
      <input type=hidden name="BBSS" value="[% board.id %]">
     </tr>
[% END # FOREACH -%]
     <tr><td colspan=3><hr></td></tr>
     <tr>
      <td colspan=3 align=left>
       変更後カテゴリ：
       <select name=SEL_CATEGORY>
[% FOREACH cat IN categories -%]
        <option value="[% cat.id %]">[% cat.name %]</option>
[% END # FOREACH -%]
       </select>
       <input type=button value="　変更　" onclick="DoSubmit('sys.bbs','FUNC','CATCHANGE')">
      </td>
     </tr>
    </table>
