    <center>
     <table border=0 cellspacing=2 width=100%>
      <tr>
       <td class="DetailTitle" colspan=2>Preview</td>
      </tr>
      <tr>
       <td colspan=2 align=center>
[% INCLUDE "banner.tt" # | indent('    ') -%]
       </td>
      </tr>
      <tr>
       <td class="DetailTitle">背景色</td>
       <td><input type=text size=20 name=MOBILE_BGCOLOR value="[% bgcolor %]"></td>
      </tr>
      <tr>
       <td class="DetailTitle">内容</td>
       <td>
        <textarea rows=10 cols=70 name=MOBILE_CONTENT wrap=off>[% content | html %]</textarea>
       </td>
      </tr>
      <tr>
       <td colspan=2><hr></td>
      </tr>
      <tr>
       <td colspan=2 align=left>
        <input type=button value="　設定　" onclick="DoSubmit('sys.edit','FUNC','BANNER_MOBILE');">
        <input type=button value="　確認　" onclick="DoSubmit('sys.edit','DISP','BANNER_MOBILE');">
       </td>
      </tr>
     </table>
    </center>
